*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    color:black;
}
.vmodal .modal-header *{
    color:black;
}
.main-container{
    width: 80%;
    margin: 100px auto;
}

.container>div{
    margin-top: 10px;
}

.dest{
    display: none;
}

.vmodal.open .modal-overlay,
.vmodal.open .modal-window{
    opacity: 1;
    z-index: 1000;
}

.vmodal.open .modal-window{
    transform: translateY(34px);
}
.vmodal.open .modal-overlay{
    background: rgba(0,0,0,.5);
}

.modal-window, .modal-overlay{
    opacity: 0;
    z-index: -1;
}
.modal-overlay{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left:0;
    background: rgba(0,0,0,0);
    transition: transform .2s ease-in;
}

.vmodal .modal-window{

    /*width: 600px;*/

    border-right: 5px;
    background: #fff;
    margin:0 auto;
    transform: translateY(-200px);
    transition: transform .2s ease-in;
}
.modal-header{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.modal-title{
    font-size: 1.5rem
}
.modal-close{
    cursor: pointer;
}

.modal-body{
    padding: 10px;
}

.modal-footer{
    padding: 5px 10px;
    border-top: 5px;
}

.modal-body p{
    margin: 5px;
}

.form-wrapper{
    width: 50%;
    margin: 30px auto;
}
form input,select {


    height: 2rem;
    width: 100%;
    -webkit-box-shadow: 2px 6px 14px -4px #000000;
    box-shadow: 2px 6px 14px -4px #000000;
}

form .form-control{

    background-color: white;
    margin-bottom: 1rem;
}

.requiredMark{
    color:red;
}

.main-button{
    width: 50%;
    height: 90px;
    margin: 0 auto;
}

.show-result{
    color:green;
}

.phone-field{
    margin-bottom: 1rem;
}
