/*@import "reset.css";*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
textarea{
    resize: none;
    width: 100%;
}
.flag{
    margin: 0 auto;
    width: 80%;
}
.flag span.white {

}
.flag .body-section{
    display: flex;
    flex-direction: column;
}

.flag p.blue{
    background-color: blue;
}
.flag p.red{
    background-color:red;
}
.body-section{
    position: relative;
    width: 925px;
}


